In [1]:
import pandas as pd
import boto3

In [2]:
s3 = boto3.resource("s3")

for i in s3.buckets.all():
    bucket_name = i.name

In [3]:
title = 'Tottenham vs Barcelona 2-4 | Extended highlights & Goals | UCL 2018'

s3_client = boto3.client("s3")

s3_client.download_file(
    Filename = 'downloaded_file.csv',
    Bucket = bucket_name,
    Key = title + ".csv"
)

In [4]:
df = pd.read_csv('downloaded_file.csv')

In [5]:
df.head(5)

   Unnamed: 0                                           Comments
0           0  I remember watching this game, Tottenhams play...
1           1  I forgot how hard Tottenham fight in this matc...
2           2                                  Messi is majestic
3           3                                      Rakitic Goal
4           4  if you really think ab it…..this could’ve been...

In [6]:
df.drop(columns = ['Unnamed: 0'], inplace = True)

In [7]:
df

                                             Comments
0   I remember watching this game, Tottenhams play...
1   I forgot how hard Tottenham fight in this matc...
2                                   Messi is majestic
3                                       Rakitic Goal
4   if you really think ab it…..this could’ve been...
5             Yeah unfortunately his team failed him.
6    @fabianu4019 the little ghost from argentina ...
7    @mobamba893  You are mentally tortured by the...
8                                     Much love messi
9                       Alba with 3 assists this game
10  How good is Messi...its a disgrace to football...
11                                         GooSebumps
12                                          good game
13                 MESSI EN SU SEGUNDO PATIO WEMBLEY,
14                                       I miss Messi
15                                    Spur pun trauma
16                                         MESSİ KRAL

In [8]:
from nltk.corpus import stopwords
import string

#split tokens on white tokens
def split_tokens(sent):
    tokens = sent.split()
    return tokens

#remove all punctuations from words

def remove_punctuations(tokens):
    table = str.maketrans('','', string.punctuation)
    tokens = [word.translate(table) for word in tokens]
    return tokens

#remove all non alphabets

def remove_non_alphabetic(tokens):
    tokens = [word for word in tokens if word.isalpha()]
    return tokens

#remove all stop words

stop_words = set(stopwords.words('english'))

def remove_tokens(tokens):
    tokens = [word for word in tokens if not word in stop_words]
    return tokens

#remove all short tokens

def remove_short_tokens(tokens):
    tokens = [word for word in tokens if len(word)>1]
    return tokens

#clean df function which incorporates all the above functions

def clean_df(df):
    
    df = df['Comments'].apply(lambda x: split_tokens(x))
    df = df.apply(lambda x: remove_punctuations(x))
    df = df.apply(lambda x: remove_non_alphabetic(x))
    df = df.apply(lambda x: remove_tokens(x))
    df = df.apply(lambda x: remove_short_tokens(x))
    
    return df

df = clean_df(df)
print(df)

0     [remember, watching, game, Tottenhams, players...
1     [forgot, hard, Tottenham, fight, match, In, fa...
2                                     [Messi, majestic]
3                                       [Rakitic, Goal]
4                            [really, think, ab, final]
5                   [Yeah, unfortunately, team, failed]
6        [little, ghost, argentina, got, exposed, game]
7     [You, mentally, tortured, real, GOAT, Messi, N...
8                                   [Much, love, messi]
9                                 [Alba, assists, game]
10    [How, good, Messiits, disgrace, football, comp...
11                                         [GooSebumps]
12                                         [good, game]
13             [MESSI, EN, SU, SEGUNDO, PATIO, WEMBLEY]
14                                        [miss, Messi]
15                                  [Spur, pun, trauma]
16                                        [MESSİ, KRAL]
Name: Comments, dtype: object