In [1]:
import pandas as pd
import boto3

In [4]:
s3 = boto3.resource("s3")

for i in s3.buckets.all():
    bucket_name = i.name

In [7]:
title = 'Tottenham vs Barcelona 2-4 | Extended highlights & Goals | UCL 2018'

s3_client = boto3.client("s3")

s3_client.download_file(
    Filename = 'downloaded_file.csv',
    Bucket = bucket_name,
    Key = title + ".csv"
)

In [9]:
df = pd.read_csv('downloaded_file.csv')

In [10]:
df.head(5)

   Unnamed: 0                                           Comments
0           0  I remember watching this game, Tottenhams play...
1           1  I forgot how hard Tottenham fight in this matc...
2           2                                  Messi is majestic
3           3                                      Rakitic Goal
4           4  if you really think ab it…..this could’ve been...

In [11]:
df.drop(columns = ['Unnamed: 0'], inplace = True)

In [12]:
df

                                             Comments
0   I remember watching this game, Tottenhams play...
1   I forgot how hard Tottenham fight in this matc...
2                                   Messi is majestic
3                                       Rakitic Goal
4   if you really think ab it…..this could’ve been...
5             Yeah unfortunately his team failed him.
6    @fabianu4019 the little ghost from argentina ...
7    @mobamba893  You are mentally tortured by the...
8                                     Much love messi
9                       Alba with 3 assists this game
10  How good is Messi...its a disgrace to football...
11                                         GooSebumps
12                                          good game
13                 MESSI EN SU SEGUNDO PATIO WEMBLEY,
14                                       I miss Messi
15                                    Spur pun trauma
16                                         MESSİ KRAL

In [13]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 10.7 MB/s eta 0:00:00
Requirement already satisfied: tqdm in c:\users\aditb\anaconda3\envs\projenv\lib\site-packages (from nltk) (4.65.0)
Collecting click
  Downloading click-8.1.4-py3-none-any.whl (98 kB)
     ---------------------------------------- 98.2/98.2 kB 5.9 MB/s eta 0:00:00
Collecting regex>=2021.8.3
  Downloading regex-2023.6.3-cp310-cp310-win_amd64.whl (268 kB)
     ------------------------------------- 268.0/268.0 kB 16.1 MB/s eta 0:00:00
Collecting joblib
  Downloading joblib-1.3.1-py3-none-any.whl (301 kB)
     ------------------------------------- 302.0/302.0 kB 19.4 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\aditb\anaconda3\envs\projenv\lib\site-packages (from click->nltk) (0.4.6)
Installing collected packages: regex, joblib, click, nltk
Successfully installed click-8.1.4 joblib-1.3.1 nltk-3.8.1 regex-2023.6.3

In [ ]:
table = str.maketrans('')

In [16]:
from nltk.corpus import stopwords
import string

#split tokens on white tokens
df2 = df['Comments'].apply(lambda x: x.split())
print(df2)

#remove all punctuations from words

def remove_punctuation(tokens):
    table = str.maketrans('','', string.punctuation)
    tokens = [word.translate(table) for word in tokens]
    return tokens

df2 = df2.apply(lambda x: remove_punctuation(x))
print(df2)

#remove all non alphabets

def remove_non_alphabetic(tokens):
    tokens = [word for word in tokens if word.isalpha()]
    return tokens

df2 = df2.apply(lambda x: remove_non_alphabetic(x))
print(df2)

#remove all stop words

stop_words = set(stopwords.words('english'))

def remove_tokens(tokens):
    tokens = [word for word in tokens if not word in stop_words]
    return tokens

df2 = df2.apply(lambda x: remove_tokens(x))
print(df2)

#remove all short tokens

def remove_short_tokens(tokens):
    tokens = [word for word in tokens if len(word)>1]
    return tokens

df2 = df2.apply(lambda x: remove_short_tokens(x))
print(df2)

0     [I, remember, watching, this, game,, Tottenham...
1     [I, forgot, how, hard, Tottenham, fight, in, t...
2                                 [Messi, is, majestic]
3                                       [Rakitic, Goal]
4     [if, you, really, think, ab, it…..this, could’...
5        [Yeah, unfortunately, his, team, failed, him.]
6     [@fabianu4019, the, little, ghost, from, argen...
7     [@mobamba893, You, are, mentally, tortured, by...
8                                   [Much, love, messi]
9                  [Alba, with, 3, assists, this, game]
10    [How, good, is, Messi...its, a, disgrace, to, ...
11                                         [GooSebumps]
12                                         [good, game]
13            [MESSI, EN, SU, SEGUNDO, PATIO, WEMBLEY,]
14                                     [I, miss, Messi]
15                                  [Spur, pun, trauma]
16                                        [MESSİ, KRAL]
Name: Comments, dtype: object
0     [I, remember, watching, this, game, Tottenhams...
1     [I, forgot, how, hard, Tottenham, fight, in, t...
2                                 [Messi, is, majestic]
3                                       [Rakitic, Goal]
4     [if, you, really, think, ab, it…this, could’ve...
5         [Yeah, unfortunately, his, team, failed, him]
6     [fabianu4019, the, little, ghost, from, argent...
7     [mobamba893, You, are, mentally, tortured, by,...
8                                   [Much, love, messi]
9                  [Alba, with, 3, assists, this, game]
10    [How, good, is, Messiits, a, disgrace, to, foo...
11                                         [GooSebumps]
12                                         [good, game]
13             [MESSI, EN, SU, SEGUNDO, PATIO, WEMBLEY]
14                                     [I, miss, Messi]
15                                  [Spur, pun, trauma]
16                                        [MESSİ, KRAL]
Name: Comments, dtype: object
0     [I, remember, watching, this, game, Tottenhams...
1     [I, forgot, how, hard, Tottenham, fight, in, t...
2                                 [Messi, is, majestic]
3                                       [Rakitic, Goal]
4        [if, you, really, think, ab, been, the, final]
5         [Yeah, unfortunately, his, team, failed, him]
6     [the, little, ghost, from, argentina, got, exp...
7     [You, are, mentally, tortured, by, the, real, ...
8                                   [Much, love, messi]
9                     [Alba, with, assists, this, game]
10    [How, good, is, Messiits, a, disgrace, to, foo...
11                                         [GooSebumps]
12                                         [good, game]
13             [MESSI, EN, SU, SEGUNDO, PATIO, WEMBLEY]
14                                     [I, miss, Messi]
15                                  [Spur, pun, trauma]
16                                        [MESSİ, KRAL]
Name: Comments, dtype: object
0     [I, remember, watching, game, Tottenhams, play...
1     [I, forgot, hard, Tottenham, fight, match, In,...
2                                     [Messi, majestic]
3                                       [Rakitic, Goal]
4                            [really, think, ab, final]
5                   [Yeah, unfortunately, team, failed]
6        [little, ghost, argentina, got, exposed, game]
7     [You, mentally, tortured, real, GOAT, Messi, N...
8                                   [Much, love, messi]
9                                 [Alba, assists, game]
10    [How, good, Messiits, disgrace, football, comp...
11                                         [GooSebumps]
12                                         [good, game]
13             [MESSI, EN, SU, SEGUNDO, PATIO, WEMBLEY]
14                                     [I, miss, Messi]
15                                  [Spur, pun, trauma]
16                                        [MESSİ, KRAL]
Name: Comments, dtype: object
0     [remember, watching, game, Tottenhams, players...
1     [forgot, hard, Tottenham, fight, match, In, fa...
2                                     [Messi, majestic]
3                                       [Rakitic, Goal]
4                            [really, think, ab, final]
5                   [Yeah, unfortunately, team, failed]
6        [little, ghost, argentina, got, exposed, game]
7     [You, mentally, tortured, real, GOAT, Messi, N...
8                                   [Much, love, messi]
9                                 [Alba, assists, game]
10    [How, good, Messiits, disgrace, football, comp...
11                                         [GooSebumps]
12                                         [good, game]
13             [MESSI, EN, SU, SEGUNDO, PATIO, WEMBLEY]
14                                        [miss, Messi]
15                                  [Spur, pun, trauma]
16                                        [MESSİ, KRAL]
Name: Comments, dtype: object